.hero {
    background: url(../img/svg/background.svg) no-repeat center top;
    min-height: 1200px;
    overflow: hidden;
}

.hero__title {
    max-width: 750px;
    font-family: "DM Serif Display", serif;
    font-size: 100px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.hero__car {
    background: url(../img/svg/car.svg) no-repeat left bottom;
    min-height: 450px;
}

@media only screen and (max-width: 768px) {
    .hero__car {
        display: none;
    }

    .hero__title {
        font-size: 75px;
        max-width: 600px;
    }
}