.header {
    padding: 20px 40px;
    margin-bottom: 50px;
    background-image: linear-gradient(
            to top right,
            var(--main-color),
            var(--second-color)
    );
    box-shadow: var(--box-shadow);
}

.header__title {
    font-size: 2rem;
    color: var(--txt-white);
    font-weight: bold;
}